<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
  <style>
    .container {
      max-width: 560px;
    }

    .field-error {
      border-color: #dc3545;
      color: #dc3545;
    }
  </style>
</head>
<body>
<div class="container">
  <div class="py-5 text-center">
    <h2>회원 가입</h2>
  </div>
  <h4 class="mb-3">회원 정보 입력</h4>
  <form action="" th:action th:object="${member}" method="post">
    <div th:if="${#fields.hasGlobalErrors()}">
      <p class="field-error" th:each="err : ${#fields.globalErrors()}"
         th:text="${err}">전체 오류 메시지</p>
    </div>
    <div>
      <label for="loginId">로그인 ID</label>
      <input type="text" id="loginId" th:field="*{loginId}" class="form-control"
             th:errorclass="field-error">
      <div class="field-error" th:errors="*{loginId}"/>
    </div>
    <div>
      <label for="password">비밀번호</label>
      <input type="password" id="password" th:field="*{password}"
             class="form-control"
             th:errorclass="field-error">
      <div class="field-error" th:errors="*{password}"/>
    </div>
    <div>
      <label for="name">이름</label>
      <input type="text" id="name" th:field="*{name}" class="form-control"
             th:errorclass="field-error">
      <div class="field-error" th:errors="*{name}"/>
    </div>
    <div class="form-group">
      <label for="emailText">이메일</label>
      <input type="email" class="form-control" id="emailText" placeholder="이메일을 입력하세요" th:field="*{emailText}">
      <button type="button" class="btn btn-primary" id="btn-save">인증번호 발송</button>
    </div>
    <div class="form-group">
      <label for="certificationNumber"> 인증번호 </label>
      <input type="text" class="form-control" id="certificationNumber" placeholder="인증번호를 입력하세요" th:field="*{certificationNumber}">
      <button type="button" class="btn btn-primary" id="btn-certificate">확인하기</button>
    </div>
    <hr class="my-4">
    <div class="row">
      <div class="col">
        <button class="w-100 btn btn-primary btn-lg" type="submit">회원 가입</button>
      </div>
      <div class="col">
        <button class="w-100 btn btn-secondary btn-lg"
                onclick="location.href='items.html'"
                th:onclick="|location.href='@{/}'|"
                type="button">취소
        </button>
      </div>
    </div>
  </form>
</div> <!-- /container -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
  var main = {
    init: function () {
      var _this = this;
      $('#btn-save').on('click', function () {
        _this.save();
      });

      $('#btn-update').on('click', function () {
        _this.update();
      });

      $('#btn-delete').on('click', function () {
        _this.delete();
      });
    },
    save: function () {
      var data = {
        emailText: $('#emailText').val()
      };
      $.ajax({
        type: 'POST',
        url: '/api/v1/posts',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify(data)
      }).done(function () {
        alert('인증번호가 전송되었습니다.');
      }).fail(function () {
        alert('잘못된 이메일형식 입니다.');
      });
    },
    update: function () {
      var data = {
        certificationNumber: $('#certificationNumber').val(),
      };

      $.ajax({
        type: 'PUT',
        url: '/api/v2/posts/',
        dataType: 'json',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify(data)
      }).done(function () {
        alert('글이 수정되었습니다.');
        window.location.href = '/';
      }).fail(function (error) {
        alert(JSON.stringify(error));
      });
    },
    delete: function () {
      var id = $('#id').val();

      $.ajax({
        type: 'DELETE',
        url: '/api/v1/posts/' + id,
        dataType: 'json',
        contentType: 'application/json; charset=utf-8'
      }).done(function () {
        alert('글이 삭제되었습니다.');
        window.location.href = '/';
      }).fail(function (error) {
        alert(JSON.stringify(error));
      });
    }

  };
  main.init();
</script>
</body>
</html>
