<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>스프링부트 웹서비스</title>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="col-md-12">
  <div class="col-md-4">
    <form th:object="${MailSaveDto}">
      <div class="form-group">
        <label for="emailText">이메일</label>
        <input type="email" class="form-control" id="emailText" placeholder="이메일을 입력하세요" th:field="*{emailText}">
        <button type="button" class="btn btn-primary" id="btn-save">인증번호 발송</button>
      </div>
      <div class="form-group">
        <label for="author"> 인증번호 </label>
        <input type="text" class="form-control" id="author" placeholder="인증번호를 입력하세요">
        <button type="button" class="btn btn-primary" id="btn-certificate">확인하기</button>
      </div>
    </form>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
  var main = {
    init: function () {
      var _this = this;
      $('#btn-save').on('click', function () {
        _this.save();
      });

      $('#btn-update').on('click', function () {
        _this.update();
      });

      $('#btn-delete').on('click', function () {
        _this.delete();
      });
    },
    save: function () {
      var data = {
        emailText: $('#emailText').val(),
        // author: $('#author').val(),
        // content: $('#content').val()
      };

      $.ajax({
        type: 'POST',
        url: '/api/v1/posts',
        dataType: 'json',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify(data)
      }).done(function () {
        alert('인증번호가 전송되었습니다.');
      }).fail(function (error) {
        alert(JSON.stringify(error));
      });
    },
    update: function () {
      var data = {
        title: $('#title').val(),
        content: $('#content').val()
      };

      var id = $('#id').val();

      $.ajax({
        type: 'PUT',
        url: '/api/v1/posts/' + id,
        dataType: 'json',
        contentType: 'application/json; charset=utf-8',
        data: JSON.stringify(data)
      }).done(function () {
        alert('글이 수정되었습니다.');
        window.location.href = '/';
      }).fail(function (error) {
        alert(JSON.stringify(error));
      });
    },
    delete: function () {
      var id = $('#id').val();

      $.ajax({
        type: 'DELETE',
        url: '/api/v1/posts/' + id,
        dataType: 'json',
        contentType: 'application/json; charset=utf-8'
      }).done(function () {
        alert('글이 삭제되었습니다.');
        window.location.href = '/';
      }).fail(function (error) {
        alert(JSON.stringify(error));
      });
    }

  };

  main.init();

</script>
</body>
</html>

